<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
     <title>ConnectX - <%=project_name_selected%></title>

   

    <!-- CORE CSS-->    
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->    
    <link href="css/custom/custom.min.css" type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/jvectormap/jquery-jvectormap.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="js/plugins/chartist-js/chartist.min.css" type="text/css" rel="stylesheet" media="screen,projection">
		  <link href="js/plugins/sweetalert/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">
  


</head>

<body>
    <!-- Start Page Loading -->
   
    <!-- End Page Loading -->

    <!-- //////////////////////////////////////////////////////////////////////////// -->

   



    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

            <!-- START LEFT SIDEBAR NAV-->
            
			
            <!-- END LEFT SIDEBAR NAV-->

            <!-- //////////////////////////////////////////////////////////////////////////// -->

            <!-- START CONTENT -->
			<div>
			
			<aside id="left-sidebar-nav" style="margin-top:-200px; height:100vh;" >
                <ul id="slide-out" class="side-nav fixed leftside-navigation" style="margin-top:-80px">
                <li class="user-details" style="">
                <div class="row" style="height:140px; ">
                    
                    <div style="padding-top:60px;" class="col col s8 m8 l8">
                       
                    </div>
                </div>
                </li>
                <li class="bold active"><a href="http://35.162.23.96:3000/things?project_name=<%=project_name_selected%>" class="waves-effect waves-blue"><i class="mdi-action-dashboard"></i> Things</a>
                </li>
                <li class="bold"><a href="http://35.162.23.96:3000/rules?project_name=<%=project_name_selected%>" class="waves-effect waves-blue"><i class="mdi-action-dashboard"></i> Rules</a>
                </li>
                <li class="bold"><a href="http://35.162.23.96:3000/alert?project_name=<%=project_name_selected%>" class="waves-effect waves-blue"><i class="mdi-action-dashboard"></i> Alerts</a>
                </li>
                <li class="bold"><a href="http://35.162.23.96:3000/bucket?project_name=<%=project_name_selected%>" class="waves-effect waves-blue"><i class="mdi-action-dashboard"></i>Data Bucket</a>
                </li>
				<li class="bold"><a href="http://35.162.23.96:3000/timerule?project_name=<%=project_name_selected%>" class="waves-effect waves-blue"><i class="mdi-action-dashboard"></i>Time Rule</a>
                </li>
				<li class="bold"><a href="http://35.162.23.96:3000/visualize?project_name=<%=project_name_selected%>" class="waves-effect waves-blue"><i class="mdi-action-dashboard"></i>Visualize</a>
                </li>
            </ul>
            </aside>
			
				<div class="row" style="padding:10px; margin-bottom:0px">
				<div class="chip">
					
					<%=project_name_selected%>
				</div>
				</div>
				<div class="row">
						<% var c=0; while(thing_name_array[c]){ %>
						
                            <div class="col s12 m6 l3 waves-effect">
                                <div class="card">
                                    <div class="card-content white ">
                                        <p class="truncate blue-text text-darken-2 card-stats-title"><%=thing_name_array[c]%></p>
                                        <h4 class="flow-text blue-text text-darken-2 truncate card-stats-number"><%= types_array[c] %></a></h4>
                                        <h6 class="activator black-text text-darken-2">Connected : <% if(conn_array[c]==1){%>yes<%} else{%>no<% }%> <br>
											 <%if(tstamp_array[c]){if(conn_array[c]==1){%>online since :<%=tstamp_array[c]%><%} else{%>Last seen on:<%=tstamp_array[c]%><%}%><%} else{ %>Device not yet connected to server<%}%>
										<i class="mdi-navigation-more-vert right"></i></h6>
                                    </div>
									<div class="card-reveal">
										<span class="card-title grey-text text-darken-4"><%=thing_name_array[c]%><i class="mdi-navigation-close right"></i></span>
										<p><% var e=0; while(state_thing_array[e]){if(state_thing_array[e]==full_id_array[c]){%> <%=state_array[e]%><%}e++;} %></p>
									  </div>
                                    
                                </div>
                            </div>
                            <% c++;} %>
							<% conn_array = null; %>
							
							
							
							
							
							  
							
                        </div>
						
						<div id="addT" class="modal">
									  <div class="modal-content">
											<div class="input-field col s6">
											<form class="col s12" action="http://35.162.23.96:3000/addthing" method="get">
											<div class="row">
											<div class="input-field col s12">
													  <input value="<%=project_name_selected%>" name="project" id="<%=project_name_selected%>" style="color:#000 !important" type="text" class="validate">
													  <label for="<%=project_name_selected%>">Project Name</label>
													</div>
													
												<div class="col s12 m8 l9">
												  <div class="input-field col s12">
													<label for="type"></label>
													<select name="type">
													  <option id="type" style="color:#000 !important" value="" disabled selected>Choose the type</option>
													  <% var w=0; while(types_names_array[w]){ %>
													  
													  <option id="type" style="color:#000 !important" value="<%=types_names_array[w]%>"><%=types_names_array[w]%></option>
													  <% w++;} %>
													</select>
												  </div>
												</div>
												
											  <div class="input-field col s12">
												<input id="thing_name" name="thing_name" type="text" style="color:#000 !important">
												<label for="thing_name">Thing Name</label>
											  </div>
											  <div class="input-field col s12">
												<input name="isadmin" value="admin" type="radio" id="ad1" />
													<label for="ad1">Admin</label>
												<input name="isadmin" value="notadmin" type="radio" id="ad2" />
												  <label for="ad2">Not admin</label>
											  </div>
											  <div class="input-field col s12">
												  <input name="passw" id="passw" type="password" style="color:#000 !important" class="validate">
												  <label for="passw">Password</label>
												</div>
											</div>
											
											<div class="row">
											  
											  <div class="row">
												<div class="input-field col s12">
												  <button class="btn cyan waves-effect waves-light right btn-successthing" type="submit">Add
													<i class="mdi-content-send right"></i>
												  </button>
												</div>
											  </div>
											</div>
										  </form>
									</div>
									</div>
												
							</div>
		   
						<div id="addType" class="modal">
									  <div class="modal-content">
											<div class="input-field col s6">
											<form class="col s12" action="http://35.162.23.96:3000/addtype" method="get">
											
													<div class="input-field col s12">
													  <input value="<%=project_name_selected%>" name="project" id="<%=project_name_selected%>" style="color:#000 !important" type="text" class="validate">
													  <label for="<%=project_name_selected%>">Project Name</label>
													</div>
													
											<div class="row">
											  <div class="input-field col s12">
												<input id="type_name" name="type_name" type="text" style="color:#000 !important">
												<label for="type_name">Type Name</label>
											  </div>
											</div>
											
											<div class="row">
											  
											  <div class="row">
												<div class="input-field col s12">
												  <button class="btn cyan waves-effect waves-light right btn-successtype" type="submit">Add
													<i class="mdi-content-send right"></i>
												  </button>
												</div>
											  </div>
											</div>
										  </form>
									</div>
									</div>
												
						</div>
						
						<div id="removeP" class="modal">
											  <div class="modal-content">

											  <div class="col s12 m8 l9">
												  <form action="http://35.162.23.96:3000/removething" method="get">
												  
													<div class="input-field col s12">
													  <input value="<%=project_name_selected%>" name="project" id="<%=project_name_selected%>" style="color:#000 !important" type="text" class="validate">
													  <label for="<%=project_name_selected%>">Project Name</label>
													</div>
													<% var a=0; while(thing_name_array[a]){ %>
						
													<p>
													  <input type="checkbox" name="selected_project" id="<%= thing_name_array[a]%>" value="<%= thing_name_array[a] %>" />
													  <label for="<%= thing_name_array[a] %>"><%= thing_name_array[a] %></label>
													</p>
													<% a++;} %>
												  
												</div>
												<div class="row">
												<div class="input-field col s12">
												  <button class="btn cyan waves-effect waves-light right" type="submit">Remove
													<i class="mdi-content-send right"></i>
												  </button>
												</div>
											  </div>
											  </form>
											</div>
														
								</div>
				<% thing_name_array = null; %>
				
			<div class="fixed-action-btn">
  <a class="btn-floating btn-large red modal-trigger tooltipped offset-s4 offset-l1" data-position="left" data-delay="50" data-tooltip="Add a thing" href="#addT">
    <i class="mdi-content-add"></i>
  </a>
  <ul>
  <li><a class="modal-trigger btn-floating btn-large yellow tooltipped offset-s4 offset-l1" data-position="left" data-delay="50" data-tooltip="Remove thing" href="#removeP"><i class="large mdi-content-clear"></i></a>
  </li>
  <li><a class="modal-trigger btn-floating btn-large blue tooltipped offset-s4 offset-l1" data-position="left" data-delay="50" data-tooltip="Add a type" href="#addType"><i class="large mdi-content-add"></i></a>
  </li>
  
  
</ul>
</div>
				
			
			</div>
		
		
		</div>
    </div>
    <!-- END MAIN -->



    <!-- //////////////////////////////////////////////////////////////////////////// -->

    <!-- START FOOTER --
    <footer class="page-footer absolute">
        
        <div class="footer-copyright" style="background-color:#546e7a !important">
            <div class="container">
                Copyright © 2017 <a class="grey-text text-lighten-4" href="" target="_blank">SkylineLabs</a> All rights reserved.
                <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://www.skylinelabs.in/">SkylineLabs</a></span>
            </div>
        </div>
    </footer>
    -- END FOOTER -->


    <!-- ================================================
    Scripts
    ================================================ -->
    
  <!-- jQuery Library -->
    <script type="text/javascript" src="js/plugins/jquery-1.11.2.min.js"></script>    
    <!--materialize js-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <!--prism-->
    <script type="text/javascript" src="js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	 <!--sweetalert -->
    <script type="text/javascript" src="js/plugins/sweetalert/sweetalert.min.js"></script> 
    <!-- chartist -->
    <script type="text/javascript" src="js/plugins/chartist-js/chartist.min.js"></script>   
    
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="js/custom-script.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){
        "use strict";

		$('.btn-successthing').click(function(){
        	swal("Thing added", "", "success");
        });
		
		$('.btn-successtype').click(function(){
        	swal("Type added", "", "success");
        });
		 });
    </script>

</body>

</html>
